build*/
cmake-build-*/
cache/
extern/SDL*
dist/
lib/

# IDEs and OS-specific stuff
.vs/
.DS_Store
*.user

AndroidBuild/.gradle
AndroidBuild/app/src/main/assets
AndroidBuild/app/src/main/jniLibs
Data/files.txt
